body {
  margin: 100px;
  font-family: sans-serif;
  font-weight: 400;
  color: black;
  background-color: darkgrey;
}
header{
  position: fixed;
  background-color: orange;
  top: 0;
  width: auto;
}

.container {
  margin: 0;
  background-color: blue;
}

.logo {
  float: left;
  width: 150px;
  height: 80px;
}

nav {
  float: right;
  margin: 0;
}

nav ul {
  margin: 0;
  width: 165vh;
  float: right;
  padding: 0;
  background-color: black;
}

nav li {
  display: inline-block;
  margin: 10px;
  padding: 20px;
  position: relative;
}

nav a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
}

nav a:hover {
  background: darkgrey;
  color: green;
  padding: 20px;
}

.pimg1, .pimg2, .pimg3, .pimg4, .pimg5, .pimg6, .pimg7 {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.pimg1 {
  background-image: url(../images/chess.jpeg);
  min-height: 1000px;
}

.pimg2 {
  background-image: url(../images/592815.jpeg);
  min-height: 600px;
}

.pimg3 {
  background-image: url(../images/lion-wild-africa-african.jpg);
  min-height: 600px;
}
.pimg4 {
  background-image: url(../images/headphones_black_close_up_153018_3840x2400.jpg);
  min-height: 1000px;
}
.pimg5 {
  background-image: url(../images/1454417-vertical-ac-130-gunship-wallpaper-hd-3216x2136.jpg);
  min-height: 600px;
}
.pimg6 {
  background-image: url(../images/wp1828948-programmer-wallpapers.jpg);
  min-height: 600px;
}
.pimg7 {
  background-image: url(../images/1454441-large-ac-130-gunship-wallpaper-hd-2994x1998-for-windows-7.jpg);
  min-height: 1000px;
}

.section {
  text-align: center;
  background-color: lightgrey;
}

.ptext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 28px;
  letter-spacing: 9px;
  text-transform: uppercase;
  font-weight: bold;
}

.ptext .border {
  background-color: lightgrey;
  color: green;
  padding: 20px;
}

section {
  background-color: lightgrey;
  padding: 20px;
  color: black;
  text-align: center;
  font-size: 300;
}

footer {
  padding: 20px;
  text-align: center;
}
