body {
  margin: 0;
  font-family: sans-serif;
  font-weight: 400;
  color: black;
  background-color: darkgrey;
}
header{
  position: fixed top;
  background-color: orange;
}
.container {
  margin: 0 auto;
  background-color: orange;
}
.logo {
  float: left;
  width: 150px;
  height: 80px;
}
nav {
  float: right;
}
nav ul {
  margin: 0;
  width: 185.5vh;
  float: left;
  padding: 0;
  background-color: black;
}
nav li {
  display: inline-block;
  margin: 10px;
  padding: 20px;
  position: relative;
}
nav a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
}
nav a:hover {
  color: green;
}
.pimg1, .pimg2, .pimg3 {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.pimg1 {
  background-image: url(../images/chess.jpeg);
  min-height: 800px;
}
.pimg2 {
  background-image: url(../images/592815.jpeg);
  min-height: 500px;
}
.pimg3 {
  background-image: url(../images/lion-wild-africa-african.jpg);
  min-height: 500px;
}
.section {
  text-align: center;
  background-color: lightgrey;
}
.ptext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 28px;
  letter-spacing: 9px;
  text-transform: uppercase;
  font-weight: bold;
}
.ptext .border {
  background-color: lightgrey;
  color: green;
  padding: 20px;
}
section {
  background-color: lightgrey;
  padding: 20px;
  color: black;
  text-align: center;
}
